{% extends 'base.html' %}
{% block content %}

<a href="{{request.META.HTTP_REFERER}}">Go back</a> 

<div class="grid">
    <article>
        <header>Perfil</header>
        <img src="{{obj.img.url}}" alt=""> <br>
        📱{{obj.telefono}} <br>
        <strong>Información</strong> <br>
        País: {{obj.pais}} <br>
        Sexo: {{obj.genero}} <br>
        Grupo 🩸: {{obj.grupo_sanguineo}}<br>
        Expediente: {{obj.get_expediente}} <br>
      </article>
      <article>
        <header>Historias clínicas <a href="{% url 'diagnostico_create' obj.id  id_clinica %}">➕</a></header>
        <article>
          wdw
        </article>
      </article>
      <article>
        <header>Diagnóstico <a href="{% url 'diagnostico_create' obj.id  id_clinica %}">➕</a></header>
        Body
        <footer>Footer</footer>
      </article>
      <article>
        <header>Header</header>
        Body
        <footer>Footer</footer>
      </article>
  </div>















{% if form.errors %}
<script>
  Swal.fire({
    icon: 'error',
    title: 'Oops...',
    html: `
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              {{ field }}: {{ error }} <br>
            {% endfor %}
          {% endfor %}
          `,
  })
</script>
{% endif %}

{% endblock %}