{% extends 'base.html' %}
{% block content %}

<a href="{% url 'paciente_create' id_clinica %}" role="button">Crear paciente</a>

<table role="grid responsive">
  <thead>
    <tr>
      <th scope="col">Foto</th>
      <th scope="col">Nombre</th>
      <th scope="col">Numero de expediente</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in q %}

    <tr>

      <th scope="row">
          <img src="{{obj.img.url}}" alt="" width="200px">

      </th>

      <td>
        {{obj.nombres}} <br>
        {{obj.telefono}} <br>
      </td>
      <td>
        {{obj.get_expediente}}
      </td>
      <td>
        <a role="button" href="{% url 'paciente_view' obj.id id_clinica %}">
          View
        </a>

        <a role="button" href="{% url 'paciente_edit' obj.id id_clinica %}">Edit</a>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>




{% endblock %}