<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Document</title>
</head>

<body class="container">
    <h1>Seleccionar clinica</h1>
    Bienvenido @{{request.user}}

    <ul>
        {% for obj in q %}
        <li>
            <a href="{% url 'app' obj.id %}">{{obj.clinica.nombre}}</a>
        </li>
        {% endfor %}
        <a href="{% url 'clinica_create' %}">Crea una clínica</a>
        <a href="{% url 'account_logout' %}">Logout</a>
    </ul>

</body>

</html>